*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #263548;
}
.container {
  position: relative;
  height: 100%;
}
.container::before,
.container::after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid red;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: before 2s linear infinite 0.5s;
}
.container::before {
  transform: translate(-50%, -50%) rotate(90deg);
  animation: after 2s linear infinite;
}
@keyframes before {
  0%,
  25% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50%,
  75% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes after {
  0%,
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50%,
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}
