*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --firstColor: #3874aa;
  --secondColor: #98c3d6;
  --thirdColor: #224565;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--firstColor);
}
.container {
  background-color: var(--thirdColor);
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: 350px;
}
.container h1 {
  text-align: center;
  letter-spacing: 1px;
}
.container form {
  display: flex;
  flex-direction: column;
  /* line-height: 1.8; */
}
.container form label {
  margin: 5px 0;

  /* transform: translateY(80px); */
}
.container form label:last-of-type {
  margin-top: 10px;
}
.container form input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 0;
  margin: 5px 0 5px;
  font-size: 16px;
  color: white;
}
.container form input:focus form label {
  color: red !important;
}
.container form input:focus {
  background-color: transparent;
}
.container form label {
  font-weight: bold;
}
.container form button {
  all: unset;
  display: block;
  background-color: var(--firstColor);
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  border-radius: 5px;
}
.container form button:active {
  transform: scale(0.98);
}
.line {
  width: 100%;
  height: 2px;
  background-color: var(--secondColor);
}
.container form small {
  font-weight: bold;
  letter-spacing: 1px;
}
.container form small a {
  text-decoration: none;
  color: var(--secondColor);
}
.move {
  transform: translateY(0px) !important;
}
.linefocus {
  background-color: var(--firstColor) !important;
}
.hi {
  display: inline-block;
  transform: translateY(35px);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-transform: lowercase;
}
.hi:first-of-type {
  text-transform: capitalize;
}
.wave {
  transform: translateY(0) !important;
}
