body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.nums {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.one {
  margin: 0 auto;
  width: fit-content;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: bold;
  border: 4px solid rgba(128, 128, 128, 0.473);
  transition: 0.3s;
}
.border {
  border-color: royalblue;
}
.line {
  position: absolute;
  width: 55px;
  height: 5px;
  background-color: rgba(128, 128, 128, 0.473);
  top: 50%;
  /* left: 35px; */
  transform: translateY(-50%);
  z-index: -1;
}
.first,
.firstt {
  left: 35px;
}

.second,
.secondd {
  left: 120px;
}
.third,
.thirdd {
  left: 208px;
}
.firstt,
.secondd,
.thirdd {
  width: 0px;
  background-color: royalblue;
  transition: 0.3s;
}
.width {
  width: 55px !important;
}
.btns button {
  all: unset;
  padding: 10px 0;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.5;
}
