*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-transform: capitalize;
}
.suggestions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.suggestions .good,
.suggestions .cheap,
.suggestions .fast {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.suggestions input {
  visibility: hidden;
}
.suggestions input:checked + label > div {
  background-color: purple;
}
.suggestions input:checked + label > div span {
  transform: translateX(36px);
}
.suggestions .bell {
  width: 80px;
  height: 40px;
  background-color: #c9c9c9;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.5s;
}
.suggestions .bell span {
  position: absolute;
  left: 2px;
  transform: translateX(0);
  width: 40px;
  height: 90%;
  border-radius: 50%;
  display: block;
  background-color: white;
  transition: 0.5s;
}
.suggestions .sugg {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
  width: 50px;
  text-align: center;
}
