:root {
  --bg-color: #3874aa;
}
body {
  height: 100vh;
  background-color: var(--bg-color);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.container .empty {
  width: 150px;
  height: 150px;
  border: 2px solid;
  background-color: white;
}
.container .empty img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hold {
  border: 2px dashed white !important;
  background-color: black !important;
}
