* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 100%;
  padding: 20px;
}
.container .empty {
  width: 400px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.container .empty img {
  width: calc(50% - 20px);
  height: 30%;
  object-fit: cover;
  object-position: center center;
  min-width: 100px;
}
