:root {
  --dark-color: #000000;
  --clock-color: #c6928a;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.3s;
}
body.dark {
  background-color: var(--dark-color) !important;
}
.container {
  padding-top: 30px;
  text-align: center;
  max-width: 100%;
}
.container button {
  all: unset;
  font-weight: 500;
  background-color: var(--dark-color);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 0.3s;
}
.dark .container button {
  background-color: white !important;
  color: black !important;
}
.container .clock {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  /* transform: rotate(270deg); */
}
.container .clock .hour-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 2px;
  background-color: black;
  transform-origin: left top;
  /* transform: rotate(-90deg); */
  border-radius: 10px;
  transition: 0.3s;
  z-index: 2;
}
.dark .container .clock .hour-hand {
  background-color: white !important;
}
.container .clock .circle {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid var(--clock-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: 0.3s;
}
.dark .container .clock .circle {
  background-color: white !important;
}
.container .clock .min-hand,
.container .clock .sec-hand {
  width: 120px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform-origin: left top;
  border-radius: 10px;
  transition: 0.3s;
}
.container .clock .min-hand {
  transform: rotate(-90deg);
  background-color: var(--dark-color);
  z-index: 1;
}
.dark .container .clock .min-hand {
  background-color: white !important;
}
.container .clock .sec-hand {
  transform: rotate(-90deg);
  background-color: var(--clock-color);
}
.container .time {
  margin-top: 40px;
}
.container .time .time-now {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 45px;
  transition: 0.3s;
}
.dark .container .time .time-now {
  color: white !important;
}
.container .time .day-now {
  color: gray;
  font-size: 15px;
  transition: 0.3s;
}
.container .time .day-now .number {
  display: inline-block;
  background-color: var(--dark-color);
  padding: 3px 6px;
  border-radius: 50%;
  transition: 0.3s;
}
.dark .container .time .day-now .number {
  background-color: white !important;
}
