:root {
  --bg: #fff8f2;
  --bg2: #282627;
  --emoji: #feb837;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}
.container,
.popup {
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 2px rgb(0, 0, 0, 50%), 0 0 4px rgb(0, 0, 0, 50%);
  width: 450px;
  background-color: white;
}
.container p {
  font-weight: 500;
}
.container .moral {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .moral .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 10px;
  width: 80px;
  cursor: pointer;
  transition: 0.3s ease;
}
.container .moral .box i {
  font-size: 40px;
  margin-bottom: 10px;
  transition: 0.3s ease;
  color: var(--bg2);
}
.container .moral .box.active {
  box-shadow: 0 0 2px rgb(0, 0, 0, 50%), 0 0 4px rgb(0, 0, 0, 50%);
}
.container .moral .box.active i {
  color: var(--emoji);
}
.container button {
  background-color: var(--bg2);
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}
.popup {
  display: none;
}
.popup i {
  color: red;
  display: block;
  font-size: 30px;
}
.popup h3 {
  text-transform: capitalize;
}
.popup span,
.popup p {
  font-weight: 400;
}
.popup .mood {
  text-transform: capitalize;
  font-weight: bold;
}
