* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141215;
}
.container {
  width: 500px;
  max-width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.container .box {
  width: 20px;
  height: 20px;
  background-color: #1c1a1d;
  transition: 0.5s ease;
}
